<div layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h1>User Details</h1>
    <div class="card">
        <div class="card-body">
            <p>Username: <span th:text="${userEntity.getUsername()}">Username</span></p>
            <p>Email: <span th:text="${userEntity.getEmail()}">Username</span></p>
            <p>Name: <span th:text="${userEntity.getName()}">Username</span></p>
        </div>
    </div>
    <a href="/users" class="btn btn-secondary mt-3">Back to List</a>
</div>
</div>
