<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h1 class="mb-4">Users</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td>
                <a th:href="@{/users/info/{username}(username=${user.username})}" class="btn btn-info btn-sm">View</a>
                <a th:href="@{/users/edit/{username}(username=${user.username})}" class="btn btn-warning btn-sm">Edit</a>
                <form th:action="@{/users/delete/{username}(username=${user.username})}" method="delete" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
